.repo-detail {
    background: #e2e1e0;
    height: 100vh;
}

.working-directory-details-container {
    height: 40px;
    background: #FFF;
}

.commit-hash {
    overflow: hidden;
    text-overflow: ellipsis;
}

#btn-refresh-local-changes {
    display: none;
}

.commit-container {
    overflow-y: auto;
    height: calc(100% - 40px);
}

.commit-container.details-visible {
    height: calc(100% - 40px - 250px);
}

.details-container {
    height: 250px;
    overflow: auto;
}

.nav-link {
    cursor: pointer;
}

.nav-link.active {
    cursor: default;
}

.height100 {
    height: 100%;
}

.panel-name {
    font-weight: bold;
}

#main-log-loading-indicator {
  display: none;
}

.row-vertical-margin {
    margin-top: 10px;
    margin-bottom: 10px;
}

.modal-xl {
    max-width: 80%;
}

#graph-container {
    flex: 0 0 50px;
    background: #fff;
    padding: 0;
}

.label-heading {
    font-weight: bold;
    font-size: 25px;
}

#log-rows-container {
    background: #fff;
}

.no-commits-msg {
    height: calc(100% - 37px);
    background: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}