<div class="repo-detail">
    <div class="working-directory-details-container">
        <button class="btn btn-info" id="btn-refresh-local-changes" ng-click="vm.refreshLocalChanges()">Refresh local changes</button>
        <button class="btn btn-primary" ng-class="{'has-unstaged-files btn-danger': vm.unstagedFiles.length && !vm.stagedFiles.length, 'has-staged-and-unstaged-files btn-warning': vm.stagedFiles.length && vm.unstagedFiles.length, 'has-staged-files btn-success': vm.stagedFiles.length && !vm.unstagedFiles.length}" id="btn-commit" ng-click="vm.showCommitDialog()">Commit {{ vm.localStatus && vm.localStatus.length ? '(' + vm.localStatus.length + ')' : '' }}</button>
        <button class="btn btn-secondary" title="Open Pull Dialog" ng-click="vm.showPullDialog()"><i class="fa fa-arrow-down" aria-hidden="true"></i> Pull...</button>
        <button class="btn btn-secondary" title="Open Push Dialog" ng-click="vm.showPushDialog()"><i class="fa fa-arrow-up" aria-hidden="true"></i> Push...</button>
        <button class="btn btn-secondary" title="Open Stash Dialog" ng-click="vm.showStashDialog()"><i class="fa fa-database"></i> Stash...</button>
        <check-settings show-on-error-only="true"></check-settings>
        <div id="log-search-container" class="pull-right">
            <div class="input-group">
                <div class="input-group-prepend">
                    <div class="input-group-text"><i class="fa fa-search" aria-hidden="true"></i></div>
                </div>
                <input type="text" class="form-control" id="main-search-inp" ng-model-options='{ debounce: 800 }' ng-model="vm.mainSearchInp" ng-change="vm.mainSearch()" placeholder="Search anything">
            </div>
        </div>
        <button class="btn btn-danger pull-right" ng-show="vm.progress" ng-click="vm.showModalToHandleConflict()">{{ vm.progress.message }}</button>
    </div>
    <div id="main-log-context-menu" style="display: none;"></div>
    <div id="main-log-container" class="commit-container container-fluid" ng-class="{'details-visible': vm.commitDetails}" data-page-num="1">
        <div class="row">
            <div class="col-12">
                <span class="label-heading">Repository log</span> <span class="label-caption"> - Select a commit to view details or right click on a commit for more.</span>
            </div>
        </div>
        <div class="row" ng-if="vm.commits.length > 0">
            <div id="graph-container" class="col">
                <canvas id="log-graph" width="1" height="1"></canvas>
            </div>
            <div class="col" id="log-rows-container">
                <a-commit ng-repeat="hash in vm.hashes | filter:vm.filterOutTempCommits" hash="hash" select-commit="vm.selectCommit(commit)" selected-commit="vm.selectedCommit" on-finish-render="logNgRepeatFinished"></a-commit>
                <div id="main-log-loading-indicator">Loading next batch of commits...</div>
            </div>
        </div>
        <div class="no-commits-msg" ng-if="vm.commits.length == 0">
            There's no commits here
        </div>
    </div>
    <div class="details-container" ng-show="vm.commitDetails">
        <ul class="nav nav-tabs details-tabs" role="tablist">
            <li class="nav-item">
                <span class="nav-link active" data-target="#tab-commit" data-toggle="tab" role="tab">Commit</span>
            </li>
            <li class="nav-item">
                <span class="nav-link" data-target="#tab-file-tree" data-toggle="tab" role="tab">File tree</span>
            </li>
            <li class="nav-item">
                <span class="nav-link" data-target="#tab-diff" data-toggle="tab" role="tab">Diff</span>
            </li>
        </ul>
            
            <!-- Tab panes -->
        <div class="tab-content tab-content-details">
            <div class="tab-pane active" id="tab-commit" role="tabpanel">
                <div ng-if="vm.commitDetails" class="container-fluid">
                    <div class="row">
                        <div class="col-sm-12">
                            <div>Author: {{vm.commitDetails.author}}</div>
                            <div>Date: ({{vm.commitDetails.date | date : 'medium'}})</div>
                            <div>Commit hash: {{vm.commitDetails.hash}}</div>
                            <div>Parent(s): <span class="btn-link parent-hash" ng-click="vm.selectCommit(parentHash)" ng-repeat="parentHash in vm.commitDetails.parentHashes track by $index">{{parentHash}} </span></div>
                            <div>Children: <span class="btn-link child-hash" ng-click="vm.selectCommit(childHash)" ng-repeat="childHash in vm.commitDetails.children track by $index">{{childHash}} </span></div>
                            <div class="commit-message">{{vm.commitDetails.message}}</div>
                            <div>Contained in branches: ???</div>
                            <div>Contained in tags: ???</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="tab-file-tree" role="tabpanel">file tree</div>
            <div class="tab-pane" id="tab-diff" role="tabpanel">
                <div class="container-fluid height100" ng-if="vm.commitDetails">
                    <div class="row height100">
                        <div class="col-sm-4 height100 diff-files-list">
                            <files-list files="vm.commitDetails.diffDetails" on-select="vm.selectFileInLog(file)" selected-file="vm.selectedFileDiffRaw"></files-list>
                        </div>
                        <div class="col-sm-8 file-diff-column height100">
                            <div ng-bind-html="vm.selectedFileDiff" class="diff"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="commit-modal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button ng-click="vm.refreshLocalChanges()" class="btn-outline-success btn btn-sm btn-commit-dialog-refresh"><i class="fa fa-refresh" title="refresh"></i></button>
                    <h5 class="modal-title">Commit to {{vm.currentLocalBranch}}</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body" id="commit-body">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="row">
                                    <div class="col-sm-12" id="commit-dialog-unstaged-files">
                                        <div class="panel-name">Unstaged Files</div>
                                        <files-list tag-to-filter="'unstaged'" selected-file="vm.diffOnCommitModal.file.diff" on-select="vm.showDiffForFileOnCommitModal(file)" files="vm.localStatus"></files-list>
                                    </div>
                                </div>
                                <div class="row staging-action-buttons-container">
                                    <div class="col-sm-12 staging-actions">
                                        <button class="btn btn-sm btn-outline-primary float-left btn-unstage-all-files" ng-class="{'disabled': !vm.stagedFiles || vm.stagedFiles.length == 0}" ng-disabled="!vm.stagedFiles || vm.stagedFiles.length == 0" ng-click="vm.unstageAllFiles()">Unstage All</button>
                                        <button class="btn btn-sm btn-outline-primary float-left btn-unstage-files" ng-class="{'disabled': vm.diffOnCommitModal.file.tags.indexOf('staged') == -1}" ng-disabled="vm.diffOnCommitModal.file.tags.indexOf('staged') == -1" ng-click="vm.unstageFile()">Unstage</button>
                                        <button class="btn btn-sm btn-outline-primary float-right btn-stage-files" ng-class="{'disabled': vm.diffOnCommitModal.file.tags.indexOf('unstaged') == -1}" ng-disabled="vm.diffOnCommitModal.file.tags.indexOf('unstaged') == -1" ng-click="vm.stageFile()">Stage</button>
                                        <button class="btn btn-sm btn-outline-primary float-right btn-stage-all-files" ng-class="{'disabled': !vm.unstagedFiles || vm.unstagedFiles.length == 0}" ng-disabled="!vm.unstagedFiles || vm.unstagedFiles.length == 0" ng-click="vm.stageAllFiles()">Stage All</button>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12" id="commit-dialog-staged-files">
                                        <div class="panel-name">Staged Files</div>
                                        <files-list tag-to-filter="'staged'" selected-file="vm.diffOnCommitModal.file.diff" on-select="vm.showDiffForFileOnCommitModal(file)" files="vm.localStatus"></files-list>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="row">
                                    <div class="col-sm-12" id="commit-dialog-diff">
                                        <div class="panel-name">Diff</div>
                                        <div ng-bind-html="vm.diffOnCommitModal.safeDiff" class="diff"></div>
                                    </div>
                                </div>
                                <div class="row commit-dialog-action-container">
                                    <div class="col-sm-4" id="commit-dialog-actions">
                                        <button class="btn btn-sm commit-dialog-btn btn-outline-info" ng-click="vm.commit()">Commit</button>
                                        <button class="btn btn-sm commit-dialog-btn btn-outline-success" ng-click="vm.commitAndPush()">Commit &amp; Push</button>
                                        <button class="btn btn-sm commit-dialog-btn btn-outline-danger" ng-click="vm.showResetAllFilesModal()">Reset all changes</button>
                                        <button class="btn btn-sm commit-dialog-btn btn-outline-warning" ng-click="vm.showResetUnstagedFilesModal()">Reset unstaged changes</button>
                                    </div>
                                    <div class="col-sm-8" id="commit-dialog-message">
                                        <textarea class="form-control" placeholder="Commit message (required)" ng-model="vm.commitMessage" id="commit-message-textarea"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="pull-modal" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title">Pull</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              </div>
              <div class="modal-body">
                <div class="container-fluid">
                  <div class="row">
                    <div class="col-sm-12">
                      <div class="panel">
                        <h6>Branch</h6>
                        <div class="form-group row">
                          <label for="pull-dialog-local-branch" class="col-2 col-form-label">
                            Local branch
                          </label>
                          <div class="col-10">
                            <input id="pull-dialog-local-branch" type="text" class="form-control" value="{{vm.currentLocalBranch}}" disabled="disabled" />
                          </div>
                        </div>
                        <div class="form-group row">
                          <label for="pull-dialog-branch-select" class="col-2 col-form-label">
                            Remote branch
                          </label>
                          <div class="col-10">
                            <select class="form-control" id="pull-dialog-branch-select" ng-model="vm.pullOptions.remoteBranch">
                              <option ng-repeat="branch in vm.remoteBranches" value="{{branch}}">{{branch}}</option>
                            </select>
                          </div>
                        </div>
                      </div>
                      <div class="panel">
                        <h6>Merge Options</h6>
                        <div class="form-group row">
                          <div class="col-12">
                            <div class="form-check merge-option">
                              <label class="form-check-label">
                                <input class="form-check-input" type="radio" name="merge-options" id="merge-options-merge" value="merge" checked ng-model="vm.pullOptions.mergeOption">
                                Merge remote branch into current branch
                              </label>
                            </div>
                            <div class="form-check merge-option">
                              <label class="form-check-label">
                                <input class="form-check-input" type="radio" name="merge-options" id="merge-options-merge" value="rebase" ng-model="vm.pullOptions.mergeOption">
                                Rebase current branch on top of remote branch
                              </label>
                            </div>
                            <div class="form-check merge-option">
                              <label class="form-check-label">
                                <input class="form-check-input" type="radio" name="merge-options" id="merge-options-fetch" value="fetch" ng-model="vm.pullOptions.mergeOption">
                                Do not merge, only fetch remote changes
                              </label>
                            </div>
                          </div>
                        </div>
                      </div>
                      <button class="btn btn-primary pull-right" ng-click="vm.pull()" ng-disabled="((!vm.pullOptions.mergeOption || !vm.pullOptions.remoteBranch) && (vm.pullOptions.mergeOption != 'fetch'))">Pull</button>
                    </div>
                  </div>
                </div>
              </div>
          </div>
      </div>
    </div>
    <div class="modal fade" id="push-modal" tabindex="-1" role="dialog">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Push</h5>
            <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          </div>
          <div class="modal-body">
            <div class="container-fluid">
              <div class="form-inline">
                <div class="form-group row">
                  <div class="col-12">
                    Push
                    <input type="text" value="{{vm.currentLocalBranch}}" disabled="disabled" class="form-control" />
                    to {{vm.remote}}/
                    <select class="form-control" id="remote-branch-to-push-to" ng-model="vm.pushOptions.remoteBranch">
                      <option value="create-new-branch">&lt;Create New Branch&gt;</option>
                      <option ng-repeat="remoteBranch in vm.remoteBranches" value="{{remoteBranch}}">{{remoteBranch}}</option>
                    </select>
                  </div>
                </div>
                <div class="form-group row row-vertical-margin" ng-show="vm.pushOptions.remoteBranch == 'create-new-branch'">
                    <div class="col-12">
                        New Branch Name: <input type="text" class="form-control" ng-model="vm.pushOptions.newRemoteBranchName" />
                    </div>
                </div>
              </div>
              <div class="row">
                <div class="col-12">
                  <button class="btn btn-primary pull-right" ng-click="vm.push()" ng-disabled="!vm.pushOptions.remoteBranch || (vm.pushOptions.remoteBranch == 'create-new-branch' && !vm.pushOptions.newRemoteBranchName)">Push</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal fade" id="stash-modal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Stash</h5>
              <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
              <div class="container-fluid">
                <div class="row">
                  <div class="col-5">
                    <div class="row">
                        <div class="form-inline">
                            <div class="form-group">
                                Show:
                                <select class="form-control" id="stashes-list"
                                    ng-options="stash.name for stash in vm.stashes track by stash.name"
                                    ng-model="vm.selectedStash"
                                    ng-change="vm.selectStash()">
                                    <option value="localChanges">Current working directory changes</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row selected-stash-files-list">
                        <div class="col-12">
                            <files-list selected-file="vm.selectedStash.selectedFile.diff" on-select="vm.selectFileInStash(file)" files="vm.selectedStash.diffDetails"></files-list>
                        </div>
                    </div>
                    <div class="row stash-message">
                        <div class="col-12">
                            {{vm.selectedStash.description}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="btn-group btn-group-toggle btn-group-stash-local-changes btn-stash-action">
                                <button class="btn btn-primary btn-block" ng-disabled="vm.selectedStash.name != 'Local Changes'" ng-click="vm.stashLocalChanges()">Save Changes</button>
                                <label class="btn btn-primary" ng-class="{'active': vm.stashLocalIncludeUntracked, 'disabled': vm.selectedStash.name != 'Local Changes'}">
                                    <input type="checkbox" ng-disabled="vm.selectedStash.name != 'Local Changes'" ng-model="vm.stashLocalIncludeUntracked"> + Untracked
                                </label>
                            </div>
                            <button class="btn btn-primary btn-block btn-stash-action" ng-disabled="vm.selectedStash.name == 'Local Changes'" ng-click="vm.dropSelectedStash()">Delete Selected</button>
                            <div class="btn-group btn-group-toggle btn-group-stash-local-changes btn-stash-action">
                                <button class="btn btn-primary btn-block" ng-disabled="vm.selectedStash.name == 'Local Changes'" ng-click="vm.applyStash()">Apply Stash</button>
                                <label class="btn btn-primary" ng-class="{'active': vm.popStash, 'disabled': vm.selectedStash.name == 'Local Changes'}">
                                    <input type="checkbox" ng-disabled="vm.selectedStash.name == 'Local Changes'" ng-model="vm.popStash"> + Delete
                                </label>
                            </div>
                        </div>
                    </div>
                  </div>
                  <div class="col-7">
                      <div class="diff" ng-bind-html="vm.selectedStash.selectedFile.safeDiff"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
    <div class="modal fade" id="reset-all-modal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-md" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">[Alert!]Reset All Changes</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-12">
                                <div>Are you sure you want to Reset All Changes?</div>
                                <div class="form-check">
                                    <input type="checkbox" class="form-check-input" id="resetAllDeleteUntracked" ng-model="vm.resetAllDeleteUntracked">
                                    <label class="form-check-label" for="resetAllDeleteUntracked">Also Delete Untracked Files</label>
                                </div>
                                <div class="alert alert-danger" role="alert">
                                    Caution! This will reset all files (revert all your changes) even if they are staged.
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <button class="btn btn-danger pull-right" ng-click="vm.resetAllChanges()">Reset All Changes</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="reset-unstaged-modal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-md" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">[Alert!]Reset All Unstaged Changes</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-12">
                                <div>Are you sure you want to Reset All Unstaged Changes?</div>
                                <div class="form-check">
                                    <input type="checkbox" class="form-check-input" id="resetUnstagedDeleteUntracked" ng-model="vm.resetUnstagedDeleteUntracked">
                                    <label class="form-check-label" for="resetUnstagedDeleteUntracked">Also Delete Untracked Files</label>
                                </div>
                                <div class="alert alert-danger" role="alert">
                                    Caution! This will reset all unstaged files. This will not touch staged files.
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <button class="btn btn-danger pull-right" ng-click="vm.resetUnstagedChanges()">Reset All Changes</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="new-branch-modal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-md" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Create a new Branch</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-12">
                                <div class="form-inline">
                                    <div class="form-group row row-vertical-margin">
                                        <div class="col-12">
                                            Create branch at this revision
                                            <input type="text" value="{{vm.newBranch.atRevision}}" disabled="disabled" class="form-control" />
                                        </div>
                                    </div>
                                    <div class="form-group row row-vertical-margin">
                                        <div class="col-12">
                                            Branch Name
                                            <input type="text" class="form-control" ng-model="vm.newBranch.name" />
                                        </div>
                                    </div>
                                    <div class="form-group row row-vertical-margin">
                                        <div class="col-12">
                                            <label><input type="checkbox" ng-model="vm.newBranch.checkout"> Checkout after create</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row row-vertical-margin">
                            <div class="col-12">
                                <button class="btn btn-primary pull-right" ng-click="vm.createNewBranch()">Create Branch</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="conflict-modal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg modal-xl" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Handle {{vm.progress.type}} conflict</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-6">
                                <div class="conflict-explaination">
                                    Mark all conflicts as resolved to continue your {{vm.progress.type}}. You may abort at any time.
                                </div>
                                <div class="card">
                                    <div class="card-body">
                                        <h6 ng-if="filteredConflictedFiles.length > 0" class="card-title">Fix conflicts in the following files using your editor.<br />Then select each file and mark it as resolved.</h6>
                                        <h6 ng-if="filteredConflictedFiles.length == 0" class="card-title">Now we can continue merging.</h6>
                                        <files-list 
                                            tag-to-filter="'conflictedunstaged'" 
                                            selected-file="vm.diffOnConflictModal.file.diff" 
                                            on-select="vm.showDiffOnConflictModal(file)" 
                                            files="vm.localStatus"
                                            badge-type="'warning'"
                                            badge-popover-details="vm.getMetaOfConflictedFile(file)">
                                        </files-list>
                                        <div class="conflict-modal-selected-file-actions">
                                            <button class="btn btn-primary pull-right btn-conflict-action" ng-show="vm.diffOnConflictModal.file" ng-click="vm.markFileAsResolvedDuringConflict(true)" data-container="body" data-trigger="hover" data-toggle="popover" data-placement="top" data-content="{{ vm.showRemoveFileBtnOnConflictModal() ? 'Click me if you want to keep this file.' : 'Click me after making sure you have fixed all conflicts in the selected file.' }}">{{ vm.showRemoveFileBtnOnConflictModal() ? 'Keep File' :'Mark Resolved' }}</button>
                                            <button class="btn btn-primary pull-right btn-conflict-action" ng-show="vm.showRemoveFileBtnOnConflictModal()" ng-click="vm.markFileAsResolvedDuringConflict(false)" data-container="body" data-trigger="hover" data-toggle="popover" data-placement="top" data-content="Click me if you want to delete this file.">Delete File</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="container-fluid conflict-modal-action-btns-container">
                                    <div class="row">
                                        <div class="col">
                                            <label class="" for="conflict-commit-message">Commit Message</label>
                                            <textarea ng-if="vm.progress.type == 'merge'" id="conflict-commit-message" class="form-control" ng-model="vm.mergeConflictCommitMessage"></textarea>
                                        </div>
                                        <div class="col" ng-if="vm.progress.type == 'rebase'">
                                            <div class="conflict-actions">
                                                <button class="btn btn-primary pull-right" ng-click="vm.continueRebase()">Continue Rebase</button>
                                                <button class="btn btn-danger pull-right" ng-click="vm.abortRebase()">Abort Rebase</button>
                                            </div>
                                        </div>
                                        <div class="col merge-conflict-actions" ng-if="vm.progress.type == 'merge'">
                                            <div class="conflict-actions" ng-if="vm.progress.type == 'merge'">
                                                <button class="btn btn-primary pull-right" ng-click="vm.continueMerge()" ng-disabled="filteredConflictedFiles.length > 0 || vm.mergeConflictCommitMessage.length == 0">Continue Merge</button>
                                                <button class="btn btn-danger pull-right" ng-click="vm.abortMerge()">Abort Merge</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6">
                                <div id="conflict-dialog-diff" class="card-body diff" ng-if="vm.diffOnConflictModal.safeDiff" ng-bind-html="vm.diffOnConflictModal.safeDiff"></div>
                                <div class="conflict-dialog-diff-placeholder" ng-if="!vm.diffOnConflictModal.safeDiff"><span>Select conflicted file to view diff</span></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>