<div class="repo-detail">
    <div class="working-directory-details-container">
        <button class="btn btn-info" id="btn-refresh-local-changes" ng-click="vm.refreshLocalChanges()">Refresh local changes</button>
        <button class="btn btn-primary" ng-class="{'has-unstaged-files btn-danger': vm.unstagedFiles.length && !vm.stagedFiles.length, 'has-staged-and-unstaged-files btn-warning': vm.stagedFiles.length && vm.unstagedFiles.length, 'has-staged-files btn-success': vm.stagedFiles.length && !vm.unstagedFiles.length}" id="btn-commit" ng-click="vm.showCommitDialog()">{{vm.localStatus && vm.localStatus.length ? 'Commit' : 'No Local Changes'}} {{ vm.localStatus && vm.localStatus.length ? '(' + vm.localStatus.length + ')' : '' }}</button>
        <button class="btn btn-secondary" title="Open Pull Dialog" ng-click="vm.showPullDialog()"><i class="fa fa-arrow-down" aria-hidden="true"></i> Pull...</button>
        <button class="btn btn-secondary" title="Open Push Dialog" ng-click="vm.showPushDialog()"><i class="fa fa-arrow-up" aria-hidden="true"></i> Push...</button>
        <button class="btn btn-secondary" title="Open Stash Dialog" ng-click="vm.showStashDialog()"><i class="fa fa-database"></i> Stash...</button>
        <check-settings show-on-error-only="true"></check-settings>
        <div id="log-search-container" class="pull-right">
            <div class="input-group">
                <div class="input-group-prepend">
                    <div class="input-group-text"><i class="fa fa-search" aria-hidden="true"></i></div>
                </div>
                <input type="text" class="form-control" id="main-search-inp" ng-model-options='{ debounce: 800 }' ng-model="vm.mainSearchInp" ng-change="vm.mainSearch()" placeholder="Search anything">
            </div>
        </div>
        <!-- <button class="btn btn-danger pull-right" ng-show="vm.progress" ng-click="vm.showModalToHandleConflict()">{{ vm.progress.message }}</button> -->
        <button ng-show="vm.conflict" class="btn btn-danger pull-right" ng-click="vm.showModalToHandleConflict()">Resolve Conflict</button>
    </div>
    <div id="main-log-context-menu" style="display: none;"></div>
    <div id="main-log-container" class="commit-container container-fluid" ng-class="{'details-visible': vm.commitDetails}" data-page-num="1">
        <div class="row">
            <div class="col-12">
                <span class="label-heading">Repository log</span> <span class="label-caption"> - Select a commit to view details or right click on a commit for more.</span>
            </div>
        </div>
        <div class="row" ng-if="vm.commits.length > 0">
            <div id="graph-container" class="col" ng-if="vm.showLogGraph">
                <canvas id="log-graph" width="1" height="1"></canvas>
            </div>
            <div class="col" id="log-rows-container">
                <a-commit ng-repeat="hash in vm.hashes | filter:vm.filterOutTempCommits" hash="hash" select-commit="vm.selectCommit(commit)" selected-commit="vm.selectedCommit" on-finish-render="logNgRepeatFinished"></a-commit>
                <div id="main-log-loading-indicator">Loading next batch of commits...</div>
            </div>
        </div>
        <div class="no-commits-msg" ng-if="vm.commits.length == 0">
            There's no commits here
        </div>
    </div>
    <div class="details-container" ng-show="vm.commitDetails">
        <ul class="nav nav-tabs details-tabs" role="tablist">
            <li class="nav-item">
                <span class="nav-link active" data-target="#tab-commit" data-toggle="tab" role="tab">Commit</span>
            </li>
            <li class="nav-item">
                <span class="nav-link" data-target="#tab-diff" data-toggle="tab" role="tab">Diff</span>
            </li>
        </ul>
            
            <!-- Tab panes -->
        <div class="tab-content tab-content-details">
            <div class="tab-pane active" id="tab-commit" role="tabpanel">
                <div ng-if="vm.commitDetails" class="container-fluid">
                    <div ng-if="vm.commitDetails == 'loading'" class="row">
                        <div class="col-sm-12">Fetching commit details. Please wait...</div>
                    </div>
                    <div class="row" ng-if="vm.commitDetails != 'loading'">
                        <div class="col-sm-12">
                            <div>Author: {{vm.commitDetails.author}}</div>
                            <div>Date: ({{vm.commitDetails.date | date : 'medium'}})</div>
                            <div>Commit hash: {{vm.commitDetails.hash}}</div>
                            <div>Parent(s): <span class="btn-link parent-hash" ng-click="vm.selectCommit(parentHash)" ng-repeat="parentHash in vm.commitDetails.parentHashes track by $index">{{parentHash}} </span></div>
                            <div>Children: <span class="btn-link child-hash" ng-click="vm.selectCommit(childHash)" ng-repeat="childHash in vm.commitDetails.children track by $index">{{childHash}} </span></div>
                            <div class="commit-message">{{vm.commitDetails.message}}</div>
                            <div>Contained in branches: <span ng-repeat="branch in vm.commitDetails.branches"><span class="commit-in-branch commit-in-branch-{{branch.type}}">{{branch.name}}</span>{{$last ? '' : ', '}}</span></div>
                            <div ng-if="vm.commitDetails.tags.length">Contained in tags: <span ng-repeat="tag in vm.commitDetails.tags"><span class="commit-in-tag">{{tag}}</span>{{$last ? '' : ', '}}</span></div>
                            <div ng-if="vm.commitDetails.tags.length == 0">This commit is not contained in any tags.</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="tab-diff" role="tabpanel">
                <div class="container-fluid height100" ng-if="vm.commitDetails">
                    <div class="row height100">
                        <div class="col-sm-4 height100 diff-files-list">
                            <files-list files="vm.commitDetails.diffDetails" on-select="vm.selectFileInLog(file)" selected-file="vm.selectedFileDiffRaw"></files-list>
                        </div>
                        <div class="col-sm-8 file-diff-column height100">
                            <diff-view
                                safe-diff="vm.selectedFileDiff">
                            </diff-view>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <commit-modal modal="vm.modals.commit" 
        refresh-local-changes="vm.refreshLocalChanges()"
        current-local-branch="vm.currentLocalBranch"
        local-status="vm.localStatus"
        parse-diff="vm.parseDiff(diff)"
        staged-files="vm.stagedFiles"
        unstaged-files="vm.unstagedFiles"
        refresh-log="vm.refreshLog()"
        show-push-dialog="vm.showPushDialog()">
    </commit-modal>
    <push-modal
        modal="vm.modals.push"
        current-local-branch="vm.currentLocalBranch"
        remote="vm.remote"
        remote-branches="vm.remoteBranches"
        refresh-log="vm.refreshLog()"
        on-push="vm.onPush()">
    </push-modal>
    <pull-modal
        modal="vm.modals.pull"
        current-local-branch="vm.currentLocalBranch"
        remote-branches="vm.remoteBranches"
        current-remote-branch="vm.currentRemoteBranch">
    </pull-modal>
    
    <stash-modal
        modal="vm.modals.stash"
        parse-diff="vm.parseDiff(diff)"
        refresh-local-changes="vm.refreshLocalChanges()"
        local-status="vm.localStatus"
    ></stash-modal>
    <new-branch-modal
        modal="vm.modals.newBranch"
        new-branch-at-revision="vm.newBranchAtRevision"
        refresh-log="vm.refreshLog()">
    </new-branch-modal>
    <conflict-modal
        modal="vm.modals.conflict"
        progress="vm.progress"
        parse-diff="vm.parseDiff(diff)"
        local-status="vm.localStatus"
        refresh-local-changes="vm.refreshLocalChanges()"
        refresh-log="vm.refreshLog()"
        parse-local-status="vm.parseLocalStatus(data)"
    ></conflict-modal>
    <cherrypick-modal
        modal="vm.modals.cherrypick"
        refresh-log="vm.refreshLog()"
        cherrypick-hash="vm.cherrypickHash"
        refresh-local-changes="vm.refreshLocalChanges()"
    ></cherrypick-modal>
    <delete-local-branch-modal
        modal="vm.modals.deleteLocalBranch"
        local-branch-to-delete="vm.localBranchToDelete"
        refresh-log="vm.refreshLog()">
    </delete-local-branch-modal>
    <revert-commit-modal
        modal="vm.modals.revertCommit"
        commit-to-revert="vm.commitToRevert"
        refresh-log="vm.refreshLog()"
        refresh-local-changes="vm.refreshLocalChanges()">
    </revert-commit-modal>
</div>