<div class="modal fade" id="commit-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button ng-click="$ctrl.onRefreshLocalChanges()" class="btn-outline-success btn btn-sm btn-commit-dialog-refresh"><i class="fa fa-refresh" title="refresh"></i></button>
                <h5 class="modal-title">Commit to {{$ctrl.currentLocalBranch}} <span class="keyboard-shortcuts" data-toggle="popover" data-trigger="hover" data-html="true" data-content="s - stage<br />u - unstage<br />r - reset file" class=""><span class="fa fa-info-circle"></span> Keyboard shortcuts</span></h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body" id="commit-body">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="row">
                                <div class="col-sm-12" id="commit-dialog-unstaged-files">
                                    <div class="panel-name">Unstaged Files</div>
                                    <files-list
                                        keyboard-shortcuts="$ctrl.getKeyboardShortcuts(tag)"
                                        tag-to-filter="'unstaged'"
                                        on-select="$ctrl.showDiffForFileOnCommitModal(file, diffViewId)"
                                        files="$ctrl.localStatus"
                                        diff-view-id="'commit-modal-diff'"
                                        files-list-id="'unstaged-files-list'"
                                        multi-select="true">
                                    </files-list>
                                </div>
                            </div>
                            <div class="row staging-action-buttons-container">
                                <div class="col-sm-12 staging-actions">
                                    <button class="btn btn-sm btn-outline-primary float-left btn-unstage-all-files" ng-click="$ctrl.unstageAllFiles()">Unstage All</button>
                                    <button class="btn btn-sm btn-outline-primary float-left btn-unstage-files" ng-click="$ctrl.unstageFiles()">Unstage</button>
                                    <button class="btn btn-sm btn-outline-primary float-right btn-stage-files" ng-click="$ctrl.stageFiles()">Stage</button>
                                    <button class="btn btn-sm btn-outline-primary float-right btn-stage-all-files" ng-click="$ctrl.stageAllFiles()">Stage All</button>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12" id="commit-dialog-staged-files">
                                    <div class="panel-name">Staged Files</div>
                                    <files-list
                                        keyboard-shortcuts="$ctrl.getKeyboardShortcuts(tag)"
                                        tag-to-filter="'staged'"
                                        on-select="$ctrl.showDiffForFileOnCommitModal(file, diffViewId)"
                                        files="$ctrl.localStatus"
                                        diff-view-id="'commit-modal-diff'"
                                        files-list-id="'staged-files-list'"
                                        multi-select="true">
                                    </files-list>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="row">
                                <div class="col-sm-12" id="commit-dialog-diff">
                                    <diff-view
                                        diff-view-id="'commit-modal-diff'">
                                    </diff-view>
                                </div>
                            </div>
                            <div class="row commit-dialog-action-container">
                                <div class="col-sm-4" id="commit-dialog-actions">
                                    <button class="btn btn-sm commit-dialog-btn btn-outline-info" ng-click="$ctrl.commit()">Commit</button>
                                    <button class="btn btn-sm commit-dialog-btn btn-outline-success" ng-click="$ctrl.commitAndPush()">Commit &amp; Push</button>
                                    <button class="btn btn-sm commit-dialog-btn btn-outline-danger" ng-click="$ctrl.showResetAllFilesModal()">Reset all changes</button>
                                    <button class="btn btn-sm commit-dialog-btn btn-outline-warning" ng-click="$ctrl.showResetUnstagedFilesModal()">Reset unstaged changes</button>
                                </div>
                                <div class="col-sm-8" id="commit-dialog-message">
                                    <textarea class="form-control" placeholder="Commit message (required)" ng-model="$ctrl.commitMessage" id="commit-message-textarea"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<reset-all-modal
    modal="$ctrl.modals.resetAll"
    on-reset-all="$ctrl.onResetAll()"
></reset-all-modal>
<reset-unstaged-modal
    modal="$ctrl.modals.resetUnstaged"
    on-reset-unstaged="$ctrl.onResetUnstaged()"
></reset-unstaged-modal>