.stash-diff-container {
    max-height: 70vh;
}

.stash-files-list-container .files-list {
    max-height: 45vh;
}

#stashes-list {
    margin-left: 10px;
}

.stash-message {
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 15px;
    margin-bottom: 15px;
    min-height: 150px;
}

.selected-stash-files-list {
    margin-bottom: 15px;
    margin-top: 15px;
    min-height: 150px;
}

.stash-files-list {
    overflow: auto;
}

.btn-group-stash-local-changes {
    width: 100%;
}

.btn-stash-action {
    margin-top: 10px;
}