.repo-detail {
    background: #e2e1e0;
    height: 100vh;
}

.working-directory-details-container {
    height: 40px;
    background: #FFF;
}

.commit-hash {
    overflow: hidden;
    text-overflow: ellipsis;
}

.commit {
    background: #FFF;
    border-bottom: 1px solid #CCC;
}

.list-item-selector {
    transition: all 0.2s ease 0s;
    cursor: pointer;
    padding: 5px 0;
}

.list-item-selector:hover {
    background: #d3d3d3;
}

.list-item-selector.selected {
    background: steelblue !important;
    color: #fff;
}

.commit-container {
    overflow-y: auto;
    height: calc(100% - 40px - 250px);
}

.details-container {
    height: 250px;
    overflow: auto;
}

.details-tabs {
    background: #FFF;
}

.nav-link {
    cursor: pointer;
}

.nav-link.active {
    cursor: default;
}

.tab-content-details {
    height: calc(100% - 36px);
    background: #FFF;
}

.tab-pane {
    max-height: 100%;
    overflow: auto;
    height: 100%;
}

.height100 {
    height: 100%;
}

.file {
    padding: 5px 0;
}

.selected-file {
    background: steelblue;
}

.file-diff-column {
    border-left: 1px solid #CCC;
    overflow: auto;
    max-height: 100%;
}

.diff {
    white-space: pre-line;
    font-family: monospace;
    background: #ffffff;
}

.line-added {
    background: #90ee90;
}

.line-removed {
    background: #f08080; 
}

.line-special {
    background: #d3d3d3;
}

#commit-modal .modal-dialog {
    max-width: 90%;
}

.file-status.untracked::after {
    content: '?'
}

.file-status.added::after {
    content: 'A'
}

.file-status.modified::after {
    content: 'M'
}

.file-status.deleted::after {
    content: 'D'
}

.staging-action-buttons-container {
    padding: 15px 0;
    border-top: 1px solid #CCCCCC;
    border-bottom: 1px solid #CCCCCC;
    margin-top: 20px;
    margin-bottom: 20px;
}

#commit-dialog-diff {
    background: #e2e1e0;
    padding-bottom: 15px;
}

#commit-dialog-diff .diff {
    max-height: 200px;
    overflow-y: auto;
}

.panel-name {
    font-weight: bold;
}

.btn-commit-dialog-refresh {
    margin-right: 10px;
}

.diff-files-list {
    overflow: auto;
}

.parent-hash {
    cursor: pointer;
}

.local-branch, .local-head {
    background: #F6ECEC;
    border: 1px solid #ECD6D6;
}

.local-head i.local-head-arrow {
    color: red;
    margin-right: 5px;
}

.remote-branch {
    background: #ECF5EC;
    border: 1px solid #D6EAD6;
}

.tags-refs {
    display: inline-block;
    border-radius: 5px;
    padding: 0 5px;
    margin-left: 5px;
    color: #000;
}

.unstaged-files-list, .staged-files-list {
    min-height: 100px;
    max-height: 200px;
    overflow-y: auto;
}

.commit-dialog-btn {
    width: 100%;
    margin-top: 10px;
    cursor: pointer;
}

.commit-dialog-action-container {
    margin-top: 15px;
}

#main-log-loading-indicator {
  display: none;
}