.repo-detail {
    background: #e2e1e0;
    height: 100vh;
}

.working-directory-details-container {
    height: 40px;
    background: #FFF;
}

.commit-hash {
    overflow: hidden;
    text-overflow: ellipsis;
}

.commit {
    background: #FFF;
}

.list-item-selector {
    transition: all 0.2s ease 0s;
    cursor: pointer;
    padding: 5px 0;
}

.list-item-selector:hover {
    background: #d3d3d3;
}

.list-item-selector.selected {
    background: steelblue !important;
}

.commit-container {
    overflow-y: auto;
    height: calc(100% - 40px - 250px);
}

.details-container {
    height: 250px;
    overflow: auto;
}

.details-tabs {
    background: #FFF;
}

.nav-link {
    cursor: pointer;
}

.nav-link.active {
    cursor: default;
}

.tab-content-details {
    height: calc(100% - 36px);
    background: #FFF;
}

.tab-pane {
    max-height: 100%;
    overflow: auto;
    height: 100%;
}

.height100 {
    height: 100%;
}

.file {
    padding: 5px 0;
}

.selected-file {
    background: steelblue;
}

.file-diff-column {
    border-left: 1px solid #CCC;
    overflow: auto;
    max-height: 100%;
}

.diff {
    white-space: pre-line;
    font-family: monospace;
    background: #ffffff;
}

.line-added {
    background: #90ee90;
}

.line-removed {
    background: #f08080; 
}

.line-special {
    background: #d3d3d3;
}

#commit-modal .modal-dialog {
    max-width: 90%;
}

.file-status.untracked::after {
    content: '?'
}

.file-status.added::after {
    content: 'A'
}

.file-status.modified::after {
    content: 'M'
}

.file-status.deleted::after {
    content: 'D'
}

.staging-action-buttons-container {
    padding: 15px 0;
    border-top: 1px solid #CCCCCC;
    border-bottom: 1px solid #CCCCCC;
    margin-top: 20px;
    margin-bottom: 20px;
}

#commit-dialog-diff {
    background: #e2e1e0;
    padding-bottom: 15px;
}

.panel-name {
    font-weight: bold;
}

.btn-commit-dialog-refresh {
    margin-right: 10px;
}

.diff-files-list {
    overflow: auto;
}

.parent-hash {
    cursor: pointer;
}