#commit-dialog-staged-files, #commit-dialog-unstaged-files {
    max-height: 40vh;
    overflow-y: auto;
}

#commit-modal .keyboard-shortcuts {
    font-size: 12px;
    display: inline-block;
    margin-left: 10px;
    vertical-align: middle;
    cursor: pointer;
}

#reset-unstaged-modal .reset-unstaged-alert, #reset-all-modal .reset-all-alert {
    margin-top: 1rem;
}