<div class="modal fade" id="conflict-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Handle {{$ctrl.progress.type}} conflict</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-6">
                            <div class="conflict-explaination">
                                <h5>Mark all conflicts as resolved to continue. <span ng-if="$ctrl.progress.type == 'merge' || $ctrl.progress.type == 'rebase'">You may abort at any time.</span></h5>
                            </div>
                            <div class="card">
                                <div class="card-body">
                                    <h6 ng-if="$ctrl.filteredConflictedFiles.length > 0" class="card-title">Follow these steps.</h6>
                                    <ol ng-if="$ctrl.filteredConflictedFiles.length > 0">
                                        <li>Fix conflicts in the following files <strong>using your editor.</strong></li>
                                        <li>Then select each file and mark it as resolved.</li>
                                    </ol>
                                    <h6 ng-if="$ctrl.filteredConflictedFiles.length == 0">All conflicts resolved!</h6>
                                    <span ng-if="$ctrl.filteredConflictedFiles.length == 0 && $ctrl.progress.type != 'merge' && $ctrl.progress.type != 'rebase'">Go ahead, close this and continue with your commit now.</span>
                                    <span ng-if="$ctrl.filteredConflictedFiles.length == 0 && $ctrl.progress.type == 'merge'" class="card-title">Now we can continue merging.</span>
                                    <span ng-if="$ctrl.filteredConflictedFiles.length == 0 && $ctrl.progress.type == 'rebase'" class="card-title">Now we can continue rebasing.</span>
                                    <hr />
                                    <files-list 
                                        tag-to-filter="'conflictedunstaged'" 
                                        diff-view-id="'conflict-modal-diff'"
                                        files-list-id="'conflicted-files-list'"
                                        on-select="$ctrl.showDiffOnConflictModal(file, diffViewId)" 
                                        files="$ctrl.localStatus"
                                        badge-type="'warning'"
                                        badge-popover-details="$ctrl.getMetaOfConflictedFile(file)">
                                    </files-list>
                                    <div class="conflict-modal-selected-file-actions">
                                        <button class="btn btn-primary pull-right btn-conflict-action" ng-show="$ctrl.diffOnConflictModal.file" ng-click="$ctrl.markFileAsResolvedDuringConflict(true)" data-container="body" data-trigger="hover" data-toggle="popover" data-placement="top" data-content="{{ $ctrl.showRemoveFileBtnOnConflictModal() ? 'Click me if you want to keep this file.' : 'Click me after making sure you have fixed all conflicts in the selected file.' }}">{{ $ctrl.showRemoveFileBtnOnConflictModal() ? 'Keep File' :'Mark Resolved' }}</button>
                                        <button class="btn btn-primary pull-right btn-conflict-action" ng-show="$ctrl.showRemoveFileBtnOnConflictModal()" ng-click="$ctrl.markFileAsResolvedDuringConflict(false)" data-container="body" data-trigger="hover" data-toggle="popover" data-placement="top" data-content="Click me if you want to delete this file.">Delete File</button>
                                    </div>
                                </div>
                            </div>
                            <div class="container-fluid conflict-modal-action-btns-container">
                                <div class="row">
                                    <div class="col" ng-if="$ctrl.progress.type == 'merge'">
                                        <label class="" for="conflict-commit-message">Commit Message</label>
                                        <textarea id="conflict-commit-message" class="form-control" ng-model="$ctrl.mergeConflictCommitMessage"></textarea>
                                    </div>
                                    <div class="col" ng-if="$ctrl.progress.type == 'rebase'">
                                        <div class="conflict-actions">
                                            <button class="btn btn-primary pull-right" ng-click="$ctrl.continueRebase()">Continue Rebase</button>
                                            <button class="btn btn-danger pull-right" ng-click="$ctrl.abortRebase()">Abort Rebase</button>
                                        </div>
                                    </div>
                                    <div class="col merge-conflict-actions" ng-if="$ctrl.progress.type == 'merge'">
                                        <div class="conflict-actions" ng-if="$ctrl.progress.type == 'merge'">
                                            <button class="btn btn-primary pull-right" ng-click="$ctrl.continueMerge()" ng-disabled="filteredConflictedFiles.length > 0 || $ctrl.mergeConflictCommitMessage.length == 0">Continue Merge</button>
                                            <button class="btn btn-danger pull-right" ng-click="$ctrl.abortMerge()">Abort Merge</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-6 conflict-modal-diff-container">
                            <diff-view
                                diff-view-id="'conflict-modal-diff'">
                            </diff-view>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>