extends layout

block content
  div.
    <div class="container-fluid">
      <div class="row">
        <div class="col-4">
          <h2>Open GIT Repository</h2>
          <ul id="cloned-repos">
            
          </ul>
        </div>
        <div class="col-8">
          <h2>Clone GIT Repository</h2>
          <div class="form-inline">
            <input type="text" class="form-control" id="inp-clone" placeholder="GIT URL" />
            <input type="text" class="form-control" id="inp-dirname" placeholder="Directory Name">
            <button class="btn btn-primary" id="btn-clone">Clone</button>
          </div>
        </div>
      </div>
      <div class="form-group row">
        <label for="browse-repo-inp" class="col-2 col-form-label">
          Browse repository:
        </label>
        <div class="col-6">
          <input type="text" class="form-control" id="browse-repo-inp" />
        </div>
        <div class="col-2">
          <button class="btn btn-primary" id="btn-browse">Browse</button>
        </div>
      </div>
    </div>
  script(src="/js/welcome.js")
