doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/bower_components/bootstrap/dist/css/bootstrap.css')
    link(rel='stylesheet', href='/bower_components/font-awesome/css/font-awesome.css')
    link(rel='stylesheet', href='/lib/jquery-contextmenu/jquery.contextMenu.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/bower_components/jquery/dist/jquery.js')
    script(src='/bower_components/popper.js/dist/umd/popper.js')
    script(src='/bower_components/bootstrap/dist/js/bootstrap.js')
    script(src='/lib/jquery-contextmenu/jquery.contextMenu.min.js')
    script(src='/bower_components/angular/angular.js')
    script(src='/bower_components/angular-route/angular-route.js')
    script(src='/bower_components/moment/moment.js')
    base(href='/')
    block headcontent
  body(ng-app="webgitApp" ng-controller="AppController")
    block content
    div(id="loader-modal", class="loader-hidden")
      div(id="loader-body")
        div(id="loader-icon")
        div(id="loader-message") Loading
    script(src='/js/app/app.module.js')
    script(src='/js/app/app.config.js')
    script(src='/js/app/utils.service.js')
    script(src='/js/app/webgit-home/webgit-home.component.js')
    script(src='/js/app/webgit-home/check-settings/check-settings.component.js')
    script(src='/js/app/webgit-home/repositories.component.js')
    script(src='/js/app/webgit-home/repo-detail/repo-detail.component.js')
    script(src='/js/app/webgit-home/repo-detail/gitfunctions.service.js')
    script(src='/js/app/webgit-home/repo-detail/on-finish-render.directive.js')
    script(src='/js/app/webgit-home/repo-detail/files-list/files-list.component.js')
    script(src='/js/app/webgit-home/repo-detail/a-commit/a-commit.component.js')
    script(src='/js/app/webgit-home/repo-detail/push-modal/push-modal.js')
    script(src='/js/app/webgit-home/repo-detail/commit-modal/commit-modal.js')
    script(src='/js/app/webgit-home/repo-detail/reset-all-modal/reset-all-modal.js')
    script(src='/js/app/webgit-home/repo-detail/reset-unstaged-modal/reset-unstaged-modal.js')
    script(src='/js/app/webgit-home/repo-detail/stash-modal/stash-modal.js')
    script(src='/js/app/webgit-home/repo-detail/cherrypick-modal/cherrypick-modal.js')
    script(src='/js/app/webgit-home/repo-detail/pull-modal/pull-modal.js')
    script(src='/js/app/webgit-home/repo-detail/conflict-modal/conflict-modal.js')
    script(src='/js/app/webgit-home/repo-detail/response-modal/response-modal.service.js')
    script(src='/js/app/webgit-home/repo-detail/confirmation-modal/confirmation-modal.service.js')
    
