doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/bower_components/bootstrap/dist/css/bootstrap.css')
    link(rel='stylesheet', href='/bower_components/font-awesome/css/font-awesome.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/bower_components/jquery/dist/jquery.js')
    script(src='/bower_components/popper.js/dist/umd/popper.js')
    script(src='/bower_components/bootstrap/dist/js/bootstrap.js')
    script(src='/lib/bootstrap-menu/BootstrapMenu.js')
    script(src='/bower_components/angular/angular.js')
    script(src='/bower_components/angular-route/angular-route.js')
    script(src='/bower_components/moment/moment.js')
    base(href='/')
  body(ng-app="webgitApp" ng-controller="AppController")
    block content
    div(class="modal fade", id="response-modal", tabindex="-1", role="dialog", aria-hidden="true")
      div(class="modal-dialog", role="document")
        div(class="modal-content")
          div(class="modal-header")
            h5(class="modal-title", id="response-title")
            button(type="button", class="close", data-dismiss="modal", aria-label="Close")
              span(aria-hidden="true") &times;
          div(class="modal-body", id="response-body")
          div(class="modal-footer")
            button(type="button", class="btn btn-primary", data-dismiss="modal") Close
    script(src='/js/app/app.module.js')
    script(src='/js/app/app.config.js')
    script(src='/js/app/utils.service.js')
    script(src='/js/app/webgit-home/webgit-home.component.js')
    script(src='/js/app/webgit-home/repositories.component.js')
    script(src='/js/app/webgit-home/repo-detail/repo-detail.component.js')
