extends layout

block headcontent
  link(rel='stylesheet', href='/js/app/webgit-home/repo-detail/repo-detail.css')
  link(rel='stylesheet', href='/js/app/webgit-home/repo-detail/commit-modal/commit-modal.css')
  link(rel='stylesheet', href='/js/app/webgit-home/repo-detail/files-list/files-list.css')
  link(rel='stylesheet', href='/js/app/webgit-home/repo-detail/a-commit/a-commit.css')
  link(rel='stylesheet', href='/js/app/webgit-home/repo-detail/conflict-modal/conflict-modal.css')
  link(rel='stylesheet', href='/js/app/webgit-home/repo-detail/diff-view/diff-view.css')
  link(rel='stylesheet', href='/js/app/webgit-home/repo-detail/response-modal/response-modal.css')
  link(rel='stylesheet', href='/js/app/webgit-home/repo-detail/stash-modal/stash-modal.css')
  link(rel='stylesheet', href='/js/app/webgit-home/repo-detail/file-history-modal/file-history-modal.css')

block content
  div.
    <div ng-view></div>
  script(src='/js/app/webgit-home/repo-detail/gitfunctions.service.js')
  script(src='/js/app/webgit-home/repo-detail/on-finish-render.directive.js')
  script(src='/js/app/webgit-home/repo-detail/files-list/files-list.component.js')
  script(src='/js/app/webgit-home/repo-detail/a-commit/a-commit.component.js')
  script(src='/js/app/webgit-home/repo-detail/push-modal/push-modal.js')
  script(src='/js/app/webgit-home/repo-detail/commit-modal/commit-modal.js')
  script(src='/js/app/webgit-home/repo-detail/reset-all-modal/reset-all-modal.js')
  script(src='/js/app/webgit-home/repo-detail/reset-unstaged-modal/reset-unstaged-modal.js')
  script(src='/js/app/webgit-home/repo-detail/stash-modal/stash-modal.js')
  script(src='/js/app/webgit-home/repo-detail/cherrypick-modal/cherrypick-modal.js')
  script(src='/js/app/webgit-home/repo-detail/pull-modal/pull-modal.js')
  script(src='/js/app/webgit-home/repo-detail/conflict-modal/conflict-modal.js')
  script(src='/js/app/webgit-home/repo-detail/new-branch-modal/new-branch-modal.js')
  script(src='/js/app/webgit-home/repo-detail/delete-local-branch-modal/delete-local-branch-modal.js')
  script(src='/js/app/webgit-home/repo-detail/revert-commit-modal/revert-commit-modal.js')
  script(src='/js/app/webgit-home/repo-detail/confirmation-modal/confirmation-modal.service.js')
  script(src='/js/app/webgit-home/repo-detail/diff-view/diff-view.js')
  script(src='/js/app/webgit-home/repo-detail/static-selected-file/static-selected-file.service.js')
  script(src='/js/app/webgit-home/repo-detail/file-history-modal/file-history-modal.service.js')
  script(src='/js/app/webgit-home/repo-detail/commit-details/commit-details.js')
