extends layout

block content
  div.
    <div ng-view></div>


block headcontent
  link(rel='stylesheet', href='/js/app/webgit-home/repo-detail/repo-detail.css')
  link(rel='stylesheet', href='/js/app/webgit-home/repo-detail/files-list/files-list.css')