<div class="modal fade" id="push-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Push</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="form-inline">
                        <div class="form-group row">
                            <div class="col-12">
                                Push
                                <input type="text" value="{{$ctrl.currentLocalBranch}}" disabled="disabled" class="form-control" /> to {{$ctrl.remote}}/
                                <input list=remoteBranchesPushModal class="form-control" ng-model="$ctrl.currentRemoteBranch" ng-model="$ctrl.currentRemoteBranch">
                                <datalist id=remoteBranchesPushModal>
                                    <option value="create-new-branch">&lt;Create New Branch&gt;</option>
                                    <option ng-repeat="remoteBranch in $ctrl.remoteBranches" value="{{remoteBranch}}">{{remoteBranch}}</option>
                                </datalist>
                            </div>
                        </div>
                        <div class="form-group row row-vertical-margin" ng-show="$ctrl.currentRemoteBranch == 'create-new-branch'">
                            <div class="col-12">
                                New Branch Name: {{$ctrl.remote}}/
                                <input type="text" class="form-control" ng-model="$ctrl.pushOptions.newRemoteBranchName"
                                />
                            </div>
                        </div>
                    </div>
                    <div class="row commits-to-be-pushed-container" ng-if="$ctrl.unpushedCommitsHashes && $ctrl.unpushedCommitsHashes.length > 0">
                        <div class="col-12">
                            <h6>Commits to be pushed</h6>
                        </div>
                        <div class="col-12">
                            <a-commit
                                ng-repeat="hash in $ctrl.unpushedCommitsHashes"
                                hash="hash"
                                commit-map="$ctrl.unpushedCommitsMap">
                            </a-commit>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <button class="btn btn-primary pull-right" ng-click="$ctrl.push()" ng-disabled="!$ctrl.currentRemoteBranch || ($ctrl.currentRemoteBranch == 'create-new-branch' && !$ctrl.pushOptions.newRemoteBranchName)">Push</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>