<div class="files-list">
    <div>
        <div tabindex="-1" ng-keyup="$ctrl.keyup(file, $index, $event)" class="file list-item-selector" ng-repeat="file in ($ctrl.filteredFiles = ($ctrl.files | filter:$ctrl.fileFilter))" ng-click="$ctrl.select(file)" ng-class="{'selected': $ctrl.selectedFile.name === file.name && $ctrl.selectedFileInThisList}" on-finish-render="ngRepeatFinished">
            <div>
                <span ng-if="!$ctrl.badgeType" class="fa file-type-badge" ng-class="{'fa-edit': file.commitType == 'modified', 'fa-plus': file.commitType == 'new', 'fa-minus': file.commitType == 'deleted', 'fa-refresh': file.commitType == 'rename'}"></span>
                <span ng-if="$ctrl.badgeType" class="badge conflict-badge badge-{{$ctrl.badgeType}}" data-container="body" data-trigger="hover" data-toggle="popover" data-placement="right" data-content="{{$ctrl.badgePopoverContent(file, 'description')}}" >{{ $ctrl.badgePopoverContent(file, 'name') }}</span>
                &nbsp;
                <span title="{{file.fileName}}">{{file.name}}</span>
            </div>
        </div>
    </div>
</div>