<div class="modal fade" id="new-branch-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Create a new Branch</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12">
                            <div class="form-inline">
                                <div class="form-group row row-vertical-margin">
                                    <div class="col-12">
                                        Create branch at this revision
                                        <input type="text" value="{{$ctrl.newBranchAtRevision}}" disabled="disabled" class="form-control" />
                                    </div>
                                </div>
                                <div class="form-group row row-vertical-margin">
                                    <div class="col-12">
                                        Branch Name
                                        <input type="text" class="form-control" ng-model="$ctrl.newBranch.name" />
                                    </div>
                                </div>
                                <div class="form-group row row-vertical-margin">
                                    <div class="col-12">
                                        <label>
                                            <input type="checkbox" ng-model="$ctrl.newBranch.checkout"> Checkout after create</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row row-vertical-margin">
                        <div class="col-12">
                            <button class="btn btn-primary pull-right" ng-click="$ctrl.createNewBranch()">Create Branch</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>