.webgit-home {
  padding: 20px;
}

.main-title {
  text-align: center;
}

.home-card {
  margin-top: 30px;
}

.home-settings-icon {
  cursor: pointer;
  color: #007bff;
}

.home-settings-icon:hover {
  color: #6c757d;
}

.home-settings-icon.has-error {
  color: #dc3545;
}

.settings-obj .fix-this-error {
  display: none;
  cursor: pointer;
}

.settings-obj .failed-setting .fix-this-error {
  display: block;
}

.settings-obj-fix.hidden {
  display: none;
}