diff-view {
    display: block;
    height: 100%;
}

.diff {
    height: calc(100% - 18px);
    overflow: auto;
    background: #fff;
}

.formatted-diff-line {
    white-space: pre;
    font-family: monospace;
}

.line-added {
    background: #90ee90;
}

.line-removed {
    background: #f08080; 
}

.line-special {
    background: #d3d3d3;
}

.diff-line-checkbox-container, .diff-line-checkbox, .diff-line {
    vertical-align: middle;
}